CBOR Array undefined length

When serializing a struct , the default approach is creating a fixed size array.
Is it also possible in the derive mode to specify an array of undefined length ?

cbor(array)

to 

cbor(array_undefined)


As I noticed my parsing failed at C++ side, since expecting an undefined length array

BTW : minicbor is an excellent crate, I use a lot. Thanks for your contriution to open source.

Thanks for opening an issue! I will look into it. Off the top of my head, I think it should be possible to add this feature, but it might take a while before I get to it.

@twittner  as you open the code and adapt for an array undefined size, maybe also take into account the map undefined size ? :-D

From my perspective the consuming code should be able to read definite as well as indefinite length maps and arrays if maximum compatibility is desired and not force producers to only create one but not the other. The main motivation for indefinite items seemed to be this:

> "This is useful if the encoding of the item needs to begin before the number of items inside the array or map, or the total length of the string, is known." ([RFC 8949, section 3.2][rfc])

The "[preferred serialization](https://datatracker.ietf.org/doc/html/rfc8949#name-preferred-serialization)" section also recommends definite-length encoding when the length is known.

[rfc]: https://datatracker.ietf.org/doc/html/rfc8949#name-indefinite-lengths-for-some

@twittner  does this imply that if I send an undefined length map or array from C++ to minicbor, it would decode correctly ? I didn't try this yet. 
I am indeed adapting my C++ code in the mean time to make it transparent.


> [...] does this imply that if I send an undefined length map or array from C++ to minicbor, it would decode correctly?

Yes.



@twittner  Ok, I will try this out with the syntax specified in issue-17.

Closing due to lack of activity.

Thanks @Saghen, but as I mentioned, I would prefer not to support this because I would expect that minicbor clients are able to decode definite length arrays and maps, especially given that these are the preferred encoding forms. Unless there is a compelling use case I would just drop it.